<h1>Order confirmation</h1>
 
 <ul>
   <li>Order Number <%= @carted_product.id %></li>
   <li>Product <%= @carted_product.product.name %></li>
   <li>Subtotal <%= @carted_product.subtotal %></li>
   <li>Tax <%= @carted_product.tax %></li>
   <li>Total <%= @carted_product.total %></li>
 </ul> 